section h1 {
    @apply text-4xl font-bold text-purple-400;
}
section p {
    @apply text-lg;
    margin-top: 0.5rem;
}
section h2 {
    @apply text-2xl font-bold text-purple-400;
    margin-top: 3rem;
}
section h3 {
    @apply text-xl font-bold;
}
section h4 {
    @apply text-lg font-bold;
}
section h5 {
    @apply text-base font-bold;
}
section h6 {
    @apply text-sm font-bold;
}

section li {
    @apply list-disc;
    margin-left: 2rem;
    margin-top: 0.5rem;
}

section strong {
    @apply font-bold text-purple-200;
}
