---
import BentoItem from "./BentoItem.astro";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  class={`
    w-full max-w-[1400px]
    grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-11 auto-rows-[25rem] gap-6
    mx-auto p-6 md:p-12 lg:p-20
  `}
>
  <!-- Primer bloque -->
  <BentoItem
    class="col-span-1 sm:col-span-1 lg:col-span-4 flex flex-col justify-start hover:bg-purple-800"
    title={t("bento.title1")}
    justifyClass="justify-start"
  >
    <div
      slot="image"
      class="absolute w-[90%] top-44 h-full group-hover:translate-y-[-20px] transition-transform duration-300 ease-in-out bg-blend-luminosity bg-contain bg-no-repeat z-20 left-6"
      style="background-image: url('/screenshot1.webp');"
    >
    </div>
    <p
      slot="content"
      class="relative max-w-xl text-base md:text-base text-balance font-medium"
    >
      {t("bento.text1")}
    </p>
  </BentoItem>

  <!-- Segundo bloque -->
  <BentoItem
    class="col-span-1 sm:col-span-1 lg:col-span-4 flex flex-col justify-start hover:bg-purple-800"
    title={t("bento.title2")}
    justifyClass="justify-start"
  >
    <div
      slot="image"
      class="absolute w-[90%] top-44 h-full group-hover:translate-y-[-20px] transition-transform duration-300 ease-in-out bg-blend-luminosity bg-contain bg-no-repeat z-20 left-6"
      style="background-image: url('/screenshot2.webp');"
    >
    </div>
    <p
      slot="content"
      class="max-w-xl text-base md:text-base text-balance font-medium"
    >
      {t("bento.text2")}
    </p>
  </BentoItem>

  <!-- Tercer bloque (siempre ocupa dos alturas) -->
  <BentoItem
    class="col-span-1 sm:col-span-2 lg:col-span-3 row-span-2 flex flex-col justify-end hover:bg-purple-800"
    title={t("bento.title3")}
    justifyClass="justify-start"
  >
    <div
      slot="image"
      class="absolute w-[100%] h-full bg-blend-luminosity bg-left bg-contain bg-no-repeat z-0 top-56 left-20 transition-transform duration-300 ease-in-out transform group-hover:translate-x-[-20px]"
      style=`background-image: url('/app-monsters-${lang}.webp');`
    >
    </div>
    <p
      slot="content"
      class="max-w-xl text-base md:text-base text-balance font-medium"
    >
      {t("bento.text3")}
    </p>
  </BentoItem>

  <!-- Cuarto bloque -->
  <BentoItem
    class="col-span-1 sm:col-span-2 lg:col-span-8 flex flex-col justify-start hover:bg-purple-800"
    title={t("bento.title4")}
  >
    <div
      slot="image"
      class="absolute w-full h-[100%] top-56 sm:top-44 lg:top-30 md:top-48 group-hover:translate-y-[-20px] transition-transform duration-300 ease-in-out bg-blend-luminosity bg-contain bg-no-repeat z-20 left-20"
      style="background-image: url('/screenshot4.webp');"
    >
    </div>
    <p
      slot="content"
      class="max-w-xl text-base md:text-base text-balance font-medium"
    >
      {t("bento.text4")}
    </p>
  </BentoItem>
</section>
