---
import { MagicCard } from "@/components/ui/magic-card";
import Appweb from "./Appweb.astro";
import Monstruos from "./Monstruos.astro";
import Appmovil from "./Appmovil.astro";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div>
  <h2
    class="text-4xl font-semiblod text-center text-wrap mx-auto mb-10 tracking-wide"
  >
    {t("h2.cards")}
  </h2>
  <p
    class="text-center max-w-4xl text-base md:text-base text-balance font-medium mx-auto mb-4"
  >
    {t("p.cards")}
  </p>
</div>
<div
  class="flex flex-col lg:flex-row justify-center gap-4 max-w-[1400px] mx-auto p-20"
>
  <MagicCard
    client:load
    className="flex flex-col items-center justify-center w-full h-64 lg:w-1/3 lg:h-48 shadow-2xl text-xl bg-purple-900 p-4"
    gradientColor={"#6c309b"}
    title={t("span.card1")}
  >
    <div class="flex justify-center">
      <Appweb />
    </div>
    <div class="text-center mt-2">
      {t("card.text1")}
    </div>
  </MagicCard>
  <MagicCard
    client:load
    className="relative flex flex-col items-center justify-center w-full h-64 lg:w-1/3 lg:h-48 shadow-2xl text-xl bg-purple-900 p-4"
    gradientColor={"#6c309b"}
    title={t("span.card2")}
  >
    <div class="flex justify-center">
      <Monstruos />
    </div>
    <div class="text-center mt-2">
      {t("card.text2")}
    </div>
  </MagicCard>
  <MagicCard
    client:load
    className="flex flex-col items-center justify-center w-full h-64 lg:w-1/3 lg:h-48 shadow-2xl text-xl p-4"
    gradientColor={"#262626"}
    title={t("span.card3")}
  >
    <div class="flex justify-center">
      <Appmovil />
    </div>
    <div class="text-center mt-2">{t("card.text3")}</div>
  </MagicCard>
</div>
