---
import Particles from "@/components/ui/particles";
import Intro from "@/components/Intro.astro";
---

<section
  class="relative bg-cover bg-center bg-no-repeat w-full max-w-[100vw] min-h-screen flex items-center justify-center overflow-x-hidden"
>
  <Particles
    client:load
    color="#ff77ff"
    className="absolute inset-0 z-0 w-full h-full"
  />

  <div class="relative mx-auto max-w-screen-xl z-10 flex flex-col items-center justify-center p-6">
    <Intro />
  </div>
</section>
