---
import Footer from "@/components/Footer.astro";
import "@fontsource-variable/dm-sans";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang} class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>

<style>
  :root {
    color-scheme: dark;
    font-family: "DM Sans Variable", sans-serif;
  }
  html {
  }
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
